* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #990099;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #990099;
}

.sidebarLinks {
  cursor: pointer;
}

i:hover,
i + p:hover {
  cursor: pointer;
  color: rgb(179, 172, 172);
}

::placeholder {
  color: grey;
  font-size: 15px;
  opacity: 0.9;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  border-width: 0;
}

@media (max-width: 800px) {
  input {
    display: none;
  }

  .AddQueBtn {
    display: none;
  }

  .NavbarRight {
    padding-right: 0;
  }
}

hr {
  margin: 0;
  color: grey;
  opacity: 1;
}

.Ans p {
  margin: 2px;
}

.Username {
  opacity: 0.8;
  font-size: 12px;
  margin-bottom: 0px;
}

.Addque {
  font-weight: bold;
  font-size: 17px;
  color: grey;
  opacity: 0.8;
  margin-bottom: 0px;
  border: none;
  outline: none;
  width: 100%;
}

.Answer {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
